<div>
<table class="deal-table">
  <thead>
    <tr>
      <th></th>
      <th>Eatery</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4">
      <div class="new-deal-button"><a href="/">Home</a></div>
      </td>
    </tr>
  </tfoot>

  <tbody>
    <% @eateries.each do |eatery| %>
    <tr>
      <td><a href="/eateries/<%=eatery.id%>"><img src="<%=eatery.logo%>" height="50px" width="50px"/><a></td>
      <td><%=eatery.name %></td>
      <td><%= eatery.contact %></td>
    </tr>
      <% end %>
    </tbody>
  </tr>

</table>
</div>
