<form class="new-edit-form" action="/eateries" method="post">

  <div class="field-group">
    <label for="eatery-name-field" class="label">Eatery Name:</label>
    <div class="field">
    <input
    class="select"
    type="text"
    name="name"
    id="eatery-name-field"
    placeholder="Eatery name"
    required/>
    </div>
  </div>


  <div class="field-group">
    <label for="contact-field" class="label">Contact:</label>
    <div class="field">
    <input
    class="select"
    type="text"
    name="contact"
    id="contact-field"
    placeholder="123 Fake St."
    required/>
  </div>
  </div>


  <div class="field-group">
    <label for="logo-field" class="label">Image URL:</label>
    <div class="field">
    <input
    class="select"
    type="text"
    name="logo"
    id="logo-field"
    placeholder="Insert an image URL"
    required/>
    </div>
  </div>



  <p>
    <input class="new-deal-button" type='submit' value="Create Eatery">
  </p>
</form>
