<div class="admin-control">
<p><a class="new-deal-button" href="/admin/deals">Deals</a></p>
<p><a class="new-deal-button" href="/admin/burgers">Burgers</a></p>
<p><a class="new-deal-button" href="/admin/eateries">Eateries</a></p>
</div>
