<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="http://i67.tinypic.com/jaxs81.png">
  <title>GREAZY</title>
</head>
<body>
  <header class="header">
    <img src="http://i63.tinypic.com/358xuf8.png"/>
<nav class="nav">
  <ul class="links">
  </ul>
</nav>
</header>
<body>
  <div class="titles">
    <h3>Today's Deals</h3>
  </div>
    <div class="container">
      <%= yield %>
    </section>
</div>
</body>
<footer class="footer">
  <p>TEST</p>
</footer>
</html>
