body{
  padding-top: 130px;
  padding-bottom: 10px;
  background-image: url('/images/background.jpg');
  background-size: cover;
  margin-left: 0px;
  list-style-type: none;
  font-family: Arial;
  margin-bottom: 40px;
}
ul li{
  list-style-type: none;
}

.new-edit-form{
  width: 100%
  padding: 12px 20px;
  background: rgba(255,255,255,0.6);
  margin: 40px 0;
  display: inline-block;
  border: 3px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.new-edit-form p{
  padding-bottom: 5px;
  padding-top: 5px;
}
.label{
  float:left;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  padding-bottom: 2px;
}

.select{
  float:right;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  border-radius: 3px;
  border-color: black;
  height: 20px;
  margin-bottom: 5px;
}

.titles{
  text-align: center;
  font-family: Arial;
  color: white;
  font-size: 30px;
}


.header{
  width: 100%;
  height: 21%;
  position:fixed;
  background: #3d3f3f;
  padding: 1px;
  color: white;
  top:0;
  text-align: center;
  border-bottom: thick solid black;
}

.header-logo{
    margin: 50px;
}


.footer{
  width: 100%;
  position: fixed;
  background: #3d3f3f;
  padding: 1px 0;
  color: white;
  bottom: 0;
  border-top: thick solid black;
  text-align: center;
}

nav a{
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
}


/* ALL DEALS TABLE */

.deal-table {
  border: 3px solid white;
  background-color: rgba(255,255,255, 0.6);
  width: 100%;
  text-align: center;
  border-collapse: collapse;

}
table.deal-table td, table.deal-table th {
  border: 1px solid white;
  padding: 3px 2px;
}
table.deal-table tbody td {
  font-size: 13px;
  color: #000000;
}
table.deal-table tr:nth-child(even) {
  background-color: rgba(255,255,255, 0.6);
}
table.deal-table thead {
  background-color: rgba(54, 69, 79, 0.9);
  border-bottom: 3px solid white;
}
table.deal-table thead th {
  font-size: 19px;
  font-weight: bold;
  color: black;
  text-align: left;
  border-left: 3px solid white;
}
table.deal-table thead th:first-child {
  border-left: none;
}

table.deal-table tfoot {
  font-size: 13px;
  font-weight: bold;
  color: black;
  background-color: rgba(255,255,255, 0.6);
  border-top: 3px solid white;
}
table.deal-table tfoot td {
  font-size: 13px;
}

.weekly-button{
  margin-left: 65px !important;
}


.new-deal-button {
  background-color: green;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-width: 3px;
  border-radius: 7px;
}
.new-deal-button a {
  text-decoration: none;
  color: white;
}
.new-deal-button:hover{
  background-color: orange;
}

.edit-button {
  background-color: blue;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-width: 3px;
  border-radius: 7px;
}
.edit-button a {
  text-decoration: none;
  color: white;
}
.edit-button:hover{
  background-color: orange;
}

.delete-button {
  background-color: red;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-width: 3px;
  border-radius: 7px;
}
.delete-button a {
  text-decoration: none;
  color: white;
}
.delete-button:hover{
  background-color: orange;
}

/* ADMIN */

.admin-button {
  background-color: red;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-width: 3px;
  border-radius: 7px;
}
.admin-button a {
  text-decoration: none;
  color: white;
}
.admin-button:hover{
  background-color: orange;
}
/* LANDING PAGE DEALS OF THE DAY */

.container{
  display: flex;
  justify-content: center;
  overflow: scroll;
}
.deal-info{
  text-align: left;
  width: 100%;
}

.deal_table {
  display: inline-block;
}

.deal {
  float: left;
  width: 300px;
  margin: 10px 0;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
  background: rgba(255,255,255,0.6);
  background-clip: padding-box;
  border: solid white;
  border-width: 3px 3px 3px 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 320px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-right: 2px;
}

.viewdeal-button {
  background-color: green;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-width: 3px;
  border-radius: 7px;
}

.viewdeal-button:hover{
  background-color: orange;
}

/* ADMIN CONTROL PAGE */
.admin-control{
  text-align: center;
}
