<form class="new-edit-form" action="/burgers" method="post">

  <div class="field-group">
      <label for="burger-name-field" class="label">Burger Name:</label>
        <div class="field">
        <input
        class="select"
        type="text"
        name="name"
        id="burger-name-field"
        placeholder="Burger name"
        required/>
      </div>
  </div>

  <div class="field-group">
    <label class="label">
      Burger Type:
    </label>
    <div class="field">
      <select class="select" name="type">
        <option value="cheeseburger">Cheeseburger</option>
        <option value="hamburger">Hamburger</option>
        <option value="veggieburger">Veggie Burger</option>
        <option value="chickenburger">Chicken Burger</option>
        <option value="porkburger">Pork Burger</option>
      </select>
    </div>
  </div>

  <div class="field-group">
      <label for="price-field" class="label">Price:</label>
      <div class="field">
        <input
        class="select"
        type="text"
        name="price"
        id="price-field"
        placeholder="Price(i.e 7.60)"
        required/>
      </div>
    </div>


    <div class="field-group">
        <label for="logo-field" class="label">Image URL:</label>
        <div class="field">
          <input
          class="select"
          type="text"
          name="logo"
          id="logo-field"
          placeholder="Insert an image URL"
          required/>
        </div>
      </div>


  <p>
    <input class="new-deal-button" type='submit' value="Create Burger">
  </p>
</form>
